
@{
    ViewBag.Title = "AddStray";
}

@model bwFinaleVeterinaria.Models.PetRescueViewModel

<h2>Aggiungi Animale Randagio</h2>

<p>Compila il form per salvare l'animale nel database</p>
<!-- TODO: FINISCI QUA -->


