
@{
    ViewBag.Title = "Index";
}

<h2>VETERINARIO HOME</h2>

<!-- BOTTONE PER AGGIUNGERE UTENTE -->
<a href="@Url.Action("AddOwner")">Aggiungi Proprietario</a>
<!-- BOTTONE PER AGGIUNGERE ANIMALE -->
<a href="#">Aggiungi Animale</a>
<!-- BOTTONE PER AGGIUNGERE VISITA -->
<a href="#">Aggiungi Visita</a>
<!-- BOTTONE PER AGGIUNGERE RANDAGIO -->
<a href="#">Aggiungi Randagio</a>



