@model IEnumerable<bwFinaleVeterinaria.Models.Sale>

<div>
    <h3>Vendite per data: @ViewBag.SaleDate</h3>
    <hr />
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>MEDICINALE</th>
                    <th>Data della vendita</th>
                    <th>Codice fiscale del proprietario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sale in Model)
                {
                    <tr>
                        <td>@sale.Product.Name</td>
                        <td>@sale.SaleDate</td>
                        <td>@sale.Owner.FiscalCode</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Non sono state trovate vendite per questa data.</p>
    }
</div>
