@model bwFinaleVeterinaria.Models.Product

@{
    ViewBag.Title = "Product Details";
}



<div class="border border-black m-5 p-3 text-center">
    <h1 class="card-title mb-2">@Model.Name</h1>

    <div class="my-2">

        <h3 class="">Armadietto: @(Model.Cabinets.Any() ? Model.Cabinets.First().NumericCode : "N/A")</h3>
        <h3 class="">Cassetto: @(Model.Cabinets.Any() ? Model.Cabinets.First().Drawer.DrawerNumber.ToString() : "N/A")</h3>

    </div>

    <a href="@Url.Action("ProductsList", "Pharmacist")" class="btn btn-primary my-2">Torna alla Lista Prodotti</a>
</div>
