body {
}


h1, h2, h3 {
    color: var(--dGreen) !important;
}

table, .divider, tbody, .borderTable {
    border: 3px solid var(--dGreen) !important;
}


.buttonsCointainer a, .buttonsCointainer button {
    background-color: var(--dGreen) !important;
    color: var(--champ) !important;
    font-weight: bold;
    text-transform: uppercase;
    border: 5px solid var(--lGreen) !important;
    border-radius: 10px !important;
}
.buttonsCointainer a:hover,
.buttonsCointainer button:hover {
        background-color: var(--linkGreen) !important;
        border-color: var(--dGreen) !important;
    }


    table a {
        color: var(--linkGreen);
        font-weight: bold;
    }


.formsContainer {
    /*background-color: var(--dCham);*/
    /*padding: 50px;*/
    color: forestgreen;
    font-weight:bold;
}

.formsContainerReduced {
    /*background-color: var(--dCham);*/
    /*padding: 40px;*/
    margin-right: auto;
    display: inline-block;
    overflow: auto;
    color: forestgreen;
    font-weight: bold;
}

@keyframes colorChange {
    0% {
        color: var(--dGreen);
    }

    50% {
        color: black;
    }

    100% {
        color: var(--dGreen);
    }
}

.highlighted {
    animation: colorChange 2s infinite; 
}

.form-control:focus {
    border-color: var(--lGreen) !important;
    box-shadow: 0 0 0 0.2rem var(--lGreen) !important;
}

/* CABINETS DRAWINGS */
@media (max-width: 1920px) {
    .cabinets-container {
        font-size: 0.9rem;
    }
}
