:root {
    --azure: #25CED1;
    --dAzure: #1EA2C6;
    --champ: #FCEADE;
    --dCham: #F7C3A1;
    --lGreen: #8FE378;
    --dGreen: #44BD23;
    --linkGreen: #2B7916;
    --white: #FFF;
}

.navbar {
    background-color: var(--dGreen) !important;
}

body {
    background-color: var(--champ)
}
